/* NavBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    /* justify-content: space-between; */
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px; /* Add margin to create gap */
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
  }
  
  .navbar-user span {
    margin-right: 10px;
  }
  
  .navbar-user button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .navbar-user button:hover {
    text-decoration: underline;
  }
  